.nav-elements{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* padding-top: .5rem; */
}
.nav-elements li{
    list-style: none;
    
    padding: .5rem 1rem .5rem 1rem;
    /* border: .1rem solid grey; */
   
    border-radius: 1rem;
}
.nav-elements li:hover{
    transition: 500ms;
    background-color: beige;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.14) , 0px 1px 10px 0px rgba(0,0,0,0.12) , 0px 2px 4px -1px rgba(0,0,0,0.2) ;
}
.nav-elements a{
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
  
}
.navbar-container{
    display: flex;
    width: 100%;
    /* background-color: #211522; */
    background-color: whitesmoke;
    max-height: 20%;
    /* justify-content: space-between; */
}
nav img{
    width:8%;
    max-width: 10%;
    height: 5rem;
    border-radius: 50%;
    margin-left: 2rem;
    overflow: hidden;
  
}
nav img:hover{
    transition: 500ms;
    transform: scale(1.5);
    /* transition: 1000ms;
    transform: rotateY(360deg); */
}
.img-container{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: .5rem;
    margin: 1rem 5% 1rem 5%;
   
    max-height: 80%;
    padding: 1rem 0 1rem 4rem;
    background-color:#F0F7E0;
    border-radius: 2rem;
}
@media only screen and (max-width:426px ) {
    .img-container{
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        padding: 1rem 0 1rem 3rem;
       
    }  
    .navbar-container img {
        max-width: 20vw;
        width: 10rem;
        padding-left: 2%;
    }
    .nav-elements{
        display: block;
        margin-top: 5rem;
        margin-left: -3rem;
    }
    
}
@media only screen and (max-width:769px) and (min-width:427px){
    .img-container{
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin:0 5% 0 5%;
        padding: 1rem 0 1rem 6rem;
       
    }  
}
    

.img-container img{
    height: 10rem;
    width: 12rem;
    background-color:purple;
    border: .1rem solid yellow;
    padding: 1rem;
    border-radius: 2rem;
}
.img-container img:hover{
    transition: 1000ms;
    transform: rotateX(360deg);
}
.btn{
    display: block;
    width: 5%;
    text-decoration: none;
}
.btn i{
    display: block;
    font-size: 3rem;
  
    margin:.5rem 2rem .5rem 2rem;
}
/* .btn{
    display: none;
} */
.heading{
    width: 12rem;
    background-color: purple;
    padding: 1rem;
    text-decoration: underline;
    text-align: center;
    border-radius: 2rem;
}
.heading span{
    color:aquamarine;
    text-decoration: underline;
}
.content-container{
    width: 100%;
    background-color: beige;
}
/* .content-img{
    height:10rem;
    width:10rem;
    display: inline-block;
} */
.content-container h1{
    background-image: url(https://t4.ftcdn.net/jpg/03/04/80/95/240_F_304809586_Hpv6IYkM45opR5xS6CS3RBIxFSyl2Nl9.jpg);
    background-repeat: no-repeat;
    opacity: .6;
    background-size: auto;
    /* background-position-x: left; */
    /* text-align: center; */
    padding: 2rem 0 2rem 7rem ;
    border-radius: 3rem;
    margin-left: 32vw;
}
.stage{
    display: block;
    color: blueviolet;
    margin-left: 4rem;
}
.role-content{
   margin-left: 10rem;
   
   /* color: black; */
}
