












/* .app-container{
    display: flex;
    justify-content: space-between;
} */


/* CSS for Travel Journel */
/* nav{
    margin: 0 15% 0 15%;
    max-width: 70%;
    height: 3rem;
    background-color: #F55A5A;
    
}
nav h2{
    color: white;
    text-align: center;
    padding-top: .6rem;
}
nav i{
    color: grey;
    margin-right: 1rem;
    transform: scale(1.5);
} */